---
import Layout from "@/layouts/layout.astro"
import Hero from "@/components/sections/hero"
import About from "@/components/sections/about"
import DailyRitual from "@/components/sections/ritual"
import Testimonials from "@/components/sections/testimonials"
import { ShaderSeparator } from "@/components/blocks/shader-separator"
---

<Layout>
  <main class="min-h-screen bg-background">
    <Hero client:only />
    <About client:visible />
    <DailyRitual client:visible />
    <Testimonials client:visible />
    <ShaderSeparator client:visible />
  </main>

  <style is:inline>
    .masked-shader {
      mask-image: linear-gradient(to bottom, #6545ad 0%, #6545ad 70%, transparent 100%);
    }
  </style>
</Layout>
